

<div id="main" role="main">
  <div class="container">
    
    <div class="content">
      <div class="row">
        <div class="span12">
          <div id="welcome" class="hero-unit">
            <h2>
              <img width="120" height="100" title="make great deals" src="/assets/deal.jpeg" alt="make deals">
              welcome! make a deal
            </h2>
            <h1>
              manage contracts easily
            </h1>
          </div>
          <div id="layerslider">
            <script type="text/javascript">
              //jQuery $('document').ready(); function
              $('document').ready(function(){

                //calling LayerSlider on your selected element after the documetn loaded
                $(layerslider).layerslider();
              });
            </script>

          </div>
          <div id="price-table-wrapper" class="row">
            <div id="price-table" class="span12 offset1">

              <div class="span2 well" >
                <div class="plan"><h2>Silver</h2></div>
                <ul class="unstyled">
                  <li>high</li>
                </ul>
                <h3>$9/month</h3>
                <%= link_to 'Subscribe', new_user_registration_path(:plan => 'silver'), :class => 'btn btn-primary' %> 
              </div>

              <div class="span2 well featured">
                <div class="plan featured-plan"><h2>Gold</h2></div>
                <ul class="unstyled">
                  <li>higher!</li>
                </ul>
                <h3>$19/month</h3>
                <%= link_to 'Subscribe', new_user_registration_path(:plan => 'gold'), :class => 'btn btn-primary' %> 
              </div>

              <div class="span2 well">
                <div class="plan"><h2>Platinum</h2></div>
                <ul class="unstyled">
                  <li>highest!</li>
                </ul>
                <h3>$29/month</h3>
                <%= link_to 'Subscribe', new_user_registration_path(:plan => 'platinum'), :class => 'btn btn-primary' %> 
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>