<div id="subheader" class="subheader">
	<div class="container">
		<div class="page-title light" data-block="page_title">Active Deals</div>
	</div>
</div>


<div id="content" class="base">
	<div id="deal-list" class="row">
		<div class="span9 main-content-column">
			<h1>Content#gold</h1>
     		<h2>Active Deals </h2>
			<div class="deal">
				<div class="deal-head clearfix">
					<p>Find me in app/views/content/gold.html.erb</p>
				</div>
				<ul class="activity-feed">
				</ul>
			</div>
		</div>
		<div class="sidebar-fill"></div>
		<div class="span3 sidebar">
			<div class="new-deal">
				<a class="btn btn-primary btn-large btn-success" href="/new">Create a New Deal</a>
			</div>
			<div class="company"></div>
		</div>
	</div>
</div>
